PORT=3000
PRINTFUL_API_KEY=4MmjWi36Es1s2YMs6Y0YMLvZh9nCraL0lPBjG8B7
ADMIN_API_KEY=UNGRIFF_Admin_9xK7pQ4mV8zR2tL6nW5
PRINTFUL_SYNC_INTERVAL_MS=300000
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
DATABASE_URL=./data/ungriff.db
STORE_CURRENCY=eur
PUBLIC_URL=http://localhost:3000
